[Unit]
Description=HousePanel Push
After=network.target

[Service]
WorkingDirectory=/home/pi/housepanel-push
ExecStart=/usr/bin/node housepanel-push.js
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
