[Unit]
Description=Node.js HousePanel Push Server
After=network-online.target
 
[Service]
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/pi/housepanel-push
ExecStart=/usr/bin/node housepanel-push.js
 
[Install]
WantedBy=multi-user.target
